# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS files
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Data files generated locally (optional if large)
*.csv

# Logs
*.log
